driver
(
  name "hokuyodrivernew"
  #file name of the plugin
  plugin "hokuyodrivernew"
  provides ["laser:0"]
  #usb (serial) port
  port "/dev/ttyACM0"
  pose [0.0 0.0 0.0]
  
  min_angle -135.0
  max_angle 135.0
  #baud rate - does not matter for usb
  baud 115200
  #alwayson 1

  #set this flag if you want intensity data. Will lose resolution if using 04-LX (refer to intensity manual)
  #intensity 1

  #set the skip value - if skip is 3, then laser will return every 3rd point
  scan_skip 1
)

